/Log.txt
/LogSql.txt
Rename.docx
!/dist/PHP/lib/widgets/
/node_modules/
/.vscode/
.env
/session/
/Session/
/.cache
/cache
*-lock.json
package.json
/desktop.ini
/dist/view/JS
/dist/view/CSS
/dist/view/images/
/dist/view/index.php
/dist/PHP/api/sample.json
/dist/PHP/api/news.json
/dist/PHP/api/GITINFO.txt